<h2>MentAlity</h2>
<h4>A Quote a Day Keeps the Depression at Bay</h4>
<br>
<h5>Need some Quotes?</h5>
<br>
<h6><a href="/signup">Sign Up to Begin</a></h6>
<br>
<h5>Want to reread your favorites?</h5>
<br>
<h6><a href="/login">Log In</a></h6>
<br>
<h6>Log in with Facebook</h6>
<br>
<%= link_to('Log in with Facebook', '/auth/facebook') %>